 * {
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      margin: 0;
      background-color: #f9f9f9;
      overflow: hidden; /* no scroll */
    }

    header {
      background-color: #0e7490;
      color: white;
      text-align: center;
      padding: 20px;
    }

    header h1 {
      margin: 5px;
      font-size: 26px;
      font-weight: bold;
    }

    header p {
      font-size: 14px;
    }

    nav {
      background-color: #00005c;
      text-align: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 10px 25px;
      font-size: 16px;
      transition: 0.3s;
    }

    nav a:hover {
      background-color: #d32f2f;
    }

    .container {
      padding: 20px;
      text-align: center;
    }

    .tab {
      display: none;
    }

    .active {
      display: block;
    }

    img.small {
      width: 200px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h2 {
      color: #b71c1c;
      font-size: 20px;
    }

    form input, form select {
      width: 60%;
      padding: 8px;
      margin: 6px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    form button {
      background-color: #d32f2f;
      color: white;
      border: none;
      padding: 8px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .section {
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0,0,0,0.1);
      margin: 10px auto;
      width: 80%;
      padding: 15px;
    }

    .data-list {
      font-size: 15px;
      color: #333;
    }
