
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #342972;
            color: white;
            text-align: center;
            padding: 20px;
        }
        nav {
            background-color: #9f8fe9;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h2 {
            color: black;
        }
        form {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input, select, textarea, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #d32f2f;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #8e8db9;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f9f9f9;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
        }
        .section {
            display: none;
        }
        .active {
            display: block;
        }
        .sub-nav {
            margin-bottom: 20px;
        }
        .sub-nav button {
            margin-right: 10px;
            padding: 8px 16px;
            background-color: #f4f4f4;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }
        .sub-nav button.active {
            background-color: #0d114b;
            color: white;
        }
        .notification-form {
            display: none;
        }
        .notification-form.active {
            display: block;
        }