  /* === Buttons === */
    .btn-primary {
      background: #0891b2;
      color: #fff;
      font-weight: 600;
      padding: 0.6rem 1.4rem;
      border-radius: 0.5rem;
      transition: background 0.3s, transform 0.2s;
    }
    .btn-primary:hover {
      background: #0e7490;
      transform: translateY(-2px);
    }
    .btn-outline {
      border: 2px solid white;
      color: #e3e8e9;
      font-weight: 600;
      padding: 0.6rem 1.4rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
    }
    .btn-outline:hover {
      background: #d8dddf;
      color: #fff;
      transform: translateY(-2px);
    }

    /* === Upload Box === */
    .upload-box:hover {
      background: #cffafe;
      transform: scale(1.02);
    }

    /* === Cards === */
    .card {
      background: #ffffff;
      border-radius: 1rem;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
      transition: transform 0.2s;
    }
    .card:hover {
      transform: translateY(-3px);
    }

    /* === Popup Overlay === */
    #popupOverlay {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      inset: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 50;
      backdrop-filter: blur(4px);
    }

    /* === Smooth Scroll === */
    html {
      scroll-behavior: smooth;
    }
   btn-primary w-full{
    width: 100%;
    height:auto ;
    background-color: #133942;
    border: 0.4px solid black;
    border-radius: 10px;
   }